{%extends "layout.html"%} {%block main%}
<div class="tasks">
  <img src="/static/back-arrow-svgrepo-com.svg" alt="" class="go_back_icon" />
  <div class="title_header">
    <div class="status_completed_logo_cont">
      <img
        src="/static/Done_round_duotone.svg"
        alt="progress-img"
        class="status_completed_logo"
      />
    </div>
    <h1 class="tasks__title">Completed tasks</h1>
  </div>

  <div class="tasks_cont">
    <div class="task">
      <img src="/static/clock-svgrepo-com.svg" alt="" class="task_icon" />
      <p class="task_name">Task title sdafasdf asdf asd a df</p>
      <div class="task_btns">
        <img src="/static/edit-svgrepo-com.svg" alt="" />
        <img src="/static/delete-svgrepo-com.svg" alt="" />
      </div>
    </div>
    <div class="task">
      <img src="/static/clock-svgrepo-com.svg" alt="" class="task_icon" />
      <p class="task_name">Task title sdafasdf asdf asd a df</p>
      <div class="task_btns">
        <img src="/static/edit-svgrepo-com.svg" alt="" />
        <img src="/static/delete-svgrepo-com.svg" alt="" />
      </div>
    </div>
    <div class="task">
      <img src="/static/clock-svgrepo-com.svg" alt="" class="task_icon" />
      <p class="task_name">Task title sdafasdf asdf asd a df</p>
      <div class="task_btns">
        <img src="/static/edit-svgrepo-com.svg" alt="" />
        <img src="/static/delete-svgrepo-com.svg" alt="" />
      </div>
    </div>
    <div class="task">
      <img src="/static/clock-svgrepo-com.svg" alt="" class="task_icon" />
      <p class="task_name">Task title sdafasdf asdf asd a df</p>
      <div class="task_btns">
        <img src="/static/edit-svgrepo-com.svg" alt="" />
        <img src="/static/delete-svgrepo-com.svg" alt="" />
      </div>
    </div>
    <div class="task">
      <img src="/static/clock-svgrepo-com.svg" alt="" class="task_icon" />
      <p class="task_name">Task title sdafasdf asdf asd a df</p>
      <div class="task_btns">
        <img src="/static/edit-svgrepo-com.svg" alt="" />
        <img src="/static/delete-svgrepo-com.svg" alt="" />
      </div>
    </div>
    <div class="task">
      <img src="/static/clock-svgrepo-com.svg" alt="" class="task_icon" />
      <p class="task_name">Task title sdafasdf asdf asd a df</p>
      <div class="task_btns">
        <img src="/static/edit-svgrepo-com.svg" alt="" />
        <img src="/static/delete-svgrepo-com.svg" alt="" />
      </div>
    </div>
  </div>
</div>
{%endblock%}
