{%extends 'layout.html'%} {% block body_class %}task_page{% endblock %} {% block
task %}
<p class="task_title">EDIT TASK</p>
{%endblock %} {% block title %} Edit Task {%endblock %} {%block main%}
<form id="create_form" action="/in_progress/{{task.id}}" method="post">
  <div class="task_container" style="opacity: 1">
    <!-- Task details -->
    <div class="task_details_cont">
      <p class="task_details_title">Task details</p>
      <a href="/in_progress"
        ><div class="task_details_btn_cont">
          <img
            src="/static/close_ring_duotone-1.svg"
            alt="close-btn"
            class="task_details_btn_img"
          /></div
      ></a>
    </div>
    <!-- Task name -->
    <div class="task_name_cont">
      <p class="task_name_title">Task name</p>

      <input
        class="task_name_input {{error_title}}"
        type="text"
        placeholder="Enter task name"
        name="title"
        value="{{task.title}}"
      />
    </div>
    <!-- Description -->
    <div class="description_cont">
      <p class="description_title">Description</p>
      <textarea
        class="description_textarea"
        name="description"
        id=""
        cols="30"
        rows="10"
        placeholder="Enter a short description"
      >
{{task.description}}</textarea
      >
    </div>
    <!-- icon value improvised variable for the form -->
    <input
      type="text"
      name="icon"
      value="{{task.icon}}"
      style="display: none"
      id="icon_value"
    />
    <!-- Icons -->
    <div class="icons_cont">
      <p class="icons_title">Icon</p>

      <div class="icons_flex_cont">
        <div id="/static/clock-svgrepo-com.svg" class="icons">
          <img src="/static/clock-svgrepo-com.svg" alt="icon" />
        </div>
        <div id="/static/knowledge-svgrepo-com.svg" class="icons">
          <img src="/static/knowledge-svgrepo-com.svg" alt="icon" />
        </div>
        <div id="/static/e-learning-svgrepo-com.svg" class="icons">
          <img src="/static/e-learning-svgrepo-com.svg" alt="icon" />
        </div>
        <div id="/static/research-svgrepo-com.svg" class="icons">
          <img src="/static/research-svgrepo-com.svg" alt="icon" />
        </div>
        <div id="/static/student-svgrepo-com.svg" class="icons">
          <img src="/static/student-svgrepo-com.svg" alt="icon" />
        </div>
        <div id="/static/schedule-svgrepo-com.svg" class="icons">
          <img src="/static/schedule-svgrepo-com.svg" alt="icon" />
        </div>
      </div>
    </div>
    <!-- Status -->
    <div class="status_cont">
      <p class="status_title">Status</p>
      <fieldset id="status" style="border: none">
        <div class="status_flex_cont">
          <!-- In Progress -->

          <div class="status_container">
            <div class="status_in_progress_logo_cont">
              <img
                src="/static/Time_atack_duotone.svg"
                alt="progress-img"
                class="status_in_progress_logo"
              />
            </div>
            <p>In Progress</p>
            <input
              checked
              type="radio"
              value="in_progress"
              name="status"
              class="radio_input"
            />
          </div>
          <!-- Completed -->
          <div class="status_container">
            <div class="status_completed_logo_cont">
              <img
                src="/static/Done_round_duotone.svg"
                alt="progress-img"
                class="status_completed_logo"
              />
            </div>
            <p>Completed</p>
            <input
              type="radio"
              value="completed"
              name="status"
              class="radio_input"
            />
          </div>
          <!-- Won't Do -->
          <div class="status_container">
            <div class="status_wont_do_cont">
              <img
                src="/static/close_ring_duotone.svg"
                alt="progress-img"
                class="status_wont_do_logo"
              />
            </div>
            <p>Won't do</p>
            <input
              type="radio"
              value="wont_do"
              name="status"
              class="radio_input"
            />
          </div>
          <!-- DECOY -->
          <div class="decoy">
            <div class="status_wont_do_cont">
              <img
                src="/static/close_ring_duotone.svg"
                alt="progress-img"
                class="status_wont_do_logo"
              />
            </div>
            <p>Won't do</p>
            <input
              type="radio"
              value="wont_do"
              name="status"
              class="radio_input"
            />
          </div>
        </div>
        <p class="error_status">{{error_status}}</p>
      </fieldset>
    </div>

    <!-- Buttons -->
    <div class="buttons_cont">
      <a href="/delete/{{task.id}}"
        ><div class="delete_btn">
          <p>Delete</p>
          <img src="/static/Trash.svg" alt="delete" /></div
      ></a>

      <div class="create_btn" id="submit-btn">
        <p>Save</p>
        <img src="/static/Done_round.svg" alt="delete" />
      </div>
    </div>
  </div>
</form>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    document
      .getElementById("submit-btn")
      .addEventListener("click", function () {
        document.getElementById("create_form").submit();
      });
    const remove = document.querySelector(".delete_btn");

    const status_conts = document.querySelectorAll(".status_container");
    let radio_checks = document.querySelectorAll(".radio_input");

    let icons = document.querySelectorAll(".icons");

    let icon_value = document.querySelector("#icon_value");

    icons.forEach((icon) => {
      if (icon_value.value == icon.id) {
        icon.style.background = "#f5d565";
      }
      icon.addEventListener("click", () => {
        let icon_src = icon.id;
        icon_value.value = icon.id;
        icon.style.background = "#f5d565";
        icons.forEach((sec) => {
          if (sec.id != icon_src) {
            sec.style.background = "#e3e8ef";
          }
        });
      });
    });

    status_conts.forEach((status, i) => {
      if (radio_checks[i].checked == true) {
        status.style.borderColor = "#5d5feb";
      }
      status.addEventListener("click", function select() {
        let index = i;
        radio_checks[index].checked = true;
        status.style.borderColor = "#5d5feb";
        status_conts.forEach((sec, j) => {
          if (index != j) {
            sec.style.borderColor = "#e3e8ef";
          }
        });
      });
    });
  });
</script>

{%endblock%}
