<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/static/styles.css" rel="stylesheet" />
    <title>TODO{% block title %}{% endblock %}</title>
  </head>
  <body>
    <!-- HEADER -->
    <header class="header">
      <div class="header_title">
        <img src="/static/Logo.svg" alt="logo-icon" />
        <p>My Task Board</p>
        <img src="/static/Edit_duotone.svg" alt="pen-icon" />
        <img
          src="/static/logout-sketch-svgrepo-com.svg"
          alt="logout"
          class="logout_icon"
        />
      </div>
      <p class="sub_title">Tasks to keep organised</p>
    </header>

    {%block task %}{%endblock%}

    <!-- MAIN -->
    <main class="main">{% block main %}{% endblock %}</main>
  </body>
</html>
