{% extends 'layout.html' %} {% block title %} Main {%endblock %} {%block main%}
<div class="main_block">
<!-- IN PROGRESS -->
<a href="/in_progress"><div class="in_progress">
  <div class="in_progress_logo_cont">
    <img
      src="/static/Time_atack_duotone.svg"
      alt="progress-img"
      class="in_progress_logo"
    />
  </div>
  <p class="in_progress_title">Tasks In Progress</p>
  <div class="in_progress_count"><p class="in_progress_count_num">{{in_progress}}</p></div>
</div></a>


<!-- COMPLETED -->
<a href="/completed"><div class="completed">
  <div class="completed_logo_cont">
    <img
      src="/static/Done_round_duotone.svg"
      alt="progress-img"
      class="completed_logo"
    />
  </div>
  <p class="completed_title">Completed Tasks</p>
  <div class="completed_count"><p class="completed_count_num">{{completed}}</p></div>
</div></a>


<!-- WON'T DO -->
<a href="/wont_do"><div class="wont_do">
  <div class="wont_do_logo_cont">
    <img
      src="/static/close_ring_duotone.svg"
      alt="progress-img"
      class="wont_do_logo"
    />
  </div>
  <p class="wont_do_title">Won't Do Tasks</p>
  <div class="wont_do_count"><p class="wont_do_count_num">{{wont_do}}</p></div>
</div></a>

</div>

<!-- ADD TASK -->
<a href="{{ url_for('create') }}">
  <div class="add_task">
  <div class="add_task_logo_cont">
    <img
      src="/static/Add_round_duotone.svg"
      alt="progress-img"
      class="add_task_logo"
    />
  </div>
  <p class="add_task_title">Add Task</p>
  <div class="add_task_count"><p class="add_task_count_num">0</p></div>
</div>
</div>
</a>
</div>

{%endblock%}
