{%extends "layout.html"%} {%block main%}
<div class="tasks">
  <a href="/"
    ><img src="/static/back-arrow-svgrepo-com.svg" alt="" class="go_back_icon"
  /></a>
  <div class="title_header">
    <div class="status_wont_do_logo_cont">
      <img
        src="/static/close_ring_duotone.svg"
        alt="progress-img"
        class="status_wont_do_logo"
      />
    </div>
    <h1 class="tasks__title">Won't Do Tasks</h1>
  </div>

  <div class="tasks_cont">
    {% if wont_do_tasks%} {%for task in wont_do_tasks%}
    <div class="task_wont_do">
      <div><img src="{{task.icon}}" alt="" class="task_icon" /></div>
      <p class="task_name">{{task.title}}</p>
      <div class="task_btns">
        <a href="/edit/{{task.id}}"
          ><img src="/static/edit-svgrepo-com.svg" alt=""
        /></a>
        <a href="/delete/{{task.id}}"
          ><img src="/static/delete-svgrepo-com.svg" alt=""
        /></a>
      </div>
    </div>
    {%endfor%} {%else%}
    <p class="empty_task">No tasks</p>
    {%endif%}
  </div>
</div>
{%endblock%}
